<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SearhWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54301/SearhWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SearhWebServiceSoap"
                contract="SearchWebService.SearhWebServiceSoap" name="SearhWebServiceSoap" />
        </client>
    </system.serviceModel>
   <appSettings>
     <add key= "databaseString" value="Data Source=EM-SEMRA-K;Initial Catalog=master;Integrated Security=True"/>
     <add key= "logPath" value="C:\Users\emre.bulkurcuoglu\Desktop\studenrecordsystem\studenrecordsystem\log.txt"/>
   </appSettings>
</configuration>