<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="logPath" value="C:\Users\emre.bulkurcuoglu\Desktop\studenrecordsystem\studenrecordsystem\log.txt"/>
  </appSettings>
</configuration>